<p style="font-family: Arial; font-size:3.5em;color:purple; font-style:bold"><br>
Exercise using Pandas and Seaborn</p><br>

**_pandas_** is a Python library for data analysis. It offers a number of data exploration, cleaning and transformation operations that are critical in working with data in Python. 

**`pandas`** build upon `numpy` and `scipy` providing easy-to-use data structures and data manipulation functions with integrated indexing.

The main data structures *pandas* provides are *Series* and *DataFrames*. After a brief introduction to these two data structures and data ingestion, the key features of *pandas* this notebook covers are:
* Generating descriptive statistics on data
* Data cleaning using built in pandas functions
* Frequent data operations for subsetting, filtering, insertion, deletion and aggregation of data
* Merging multiple datasets using dataframes
* Working with timestamps and time-series data

**Additional Recommended Resources:**
* *pandas* Documentation: http://pandas.pydata.org/pandas-docs/stable/


**_Seaborn_** is a library for making statistical graphics in Python. It is built on top of matplotlib and closely integrated with pandas data structures.

Here is some of the functionality that seaborn offers:

> * A dataset-oriented API for examining relationships between multiple variables
* Specialized support for using categorical variables to show observations or aggregate statistics
* Options for visualizing univariate or bivariate distributions and for comparing them between subsets of data
* Automatic estimation and plotting of linear regression models for different kinds dependent variables
* Convenient views onto the overall structure of complex datasets
* High-level abstractions for structuring multi-plot grids that let you easily build complex visualizations
* Concise control over matplotlib figure styling with several built-in themes
* Tools for choosing color palettes that faithfully reveal patterns in your data

Seaborn aims to make visualization a central part of exploring and understanding data. Its dataset-oriented plotting functions operate on dataframes and arrays containing whole datasets and internally perform the necessary semantic mapping and statistical aggregation to produce informative plots.

**Additional Recommended Resources:**
* `seaborn` Documentation: https://seaborn.pydata.org/introduction.html

<p style="font-family: Arial; font-size:1.75em;color:#2462C0; font-style:bold">
Import Libraries</p>

FOllowing libraries will be used in this exercise.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn
import os

<p style="font-family: Arial; font-size:1.75em;color:#2462C0; font-style:bold">
Case Study: Movie Data Analysis</p>
<br>This notebook uses a dataset from the MovieLens website. We will describe the dataset further as we explore with it using *pandas*. 

## Download the Dataset

Please note that **you may need to download the dataset**.

Here are the links to the data source and location:
* **Data Source:** MovieLens web site (filename: ml-20m.zip)
* **Location:** https://grouplens.org/datasets/movielens/

<p style="font-family: Arial; font-size:1.75em;color:#2462C0; font-style:bold">
Use Pandas to read the dataset<br>
</p>
<br>

In this notebook, we will be using three CSV files:

> * **ratings.csv :** *userId*,*movieId*,*rating*, *timestamp*
* **tags.csv :** *userId*,*movieId*, *tag*, *timestamp*
* **movies.csv :** *movieId*, *title*, *genres* <br>

Using the *read_csv* function in pandas, we will ingest these three files.

In [ ]:
os.getcwd()

Load the movies.csv and print the `type` of movies. Also get the first 10 observations from the dataframe.

In [ ]:
movies = #write your code
print(type(movies))
movies.head()

Load the tags.csv and print first 10 observations from the dataframe.

In [ ]:
tags_df = #write your code
tags_df.head()

Note that the timestamps represent seconds since midnight Coordinated Universal Time (UTC) of January 1, 1970. 

Load ratings.csv and print first 10 observations from the dataframe.

In [ ]:
ratings_df = #write your code
ratings_df.head()

For current analysis, we will remove timestamp

In [ ]:
ratings = #write your code

print(ratings.head())

In [ ]:
tags = #write your code

print(tags.head())

<h1 style="font-size:2em;color:#2467C0">Data Structures </h1>

<h1 style="font-size:1.5em;color:#2467C0">Series</h1>

Extract 1st observation from `tags`. What is the data type of `row_0`.

In [ ]:
row_0 = #write your code
type(row_0)

Print the index and values in `row_0`

In [ ]:
print(row_0.index)

In [ ]:
print(row_0.values)

In [ ]:
row_0

In [ ]:
row_0['tag']

In [ ]:
'rating' in row_0

In [ ]:
'tag' in row_0

In [ ]:
row_0.name

In [ ]:
row_0 = row_0.rename('first_row')
row_0

<h1 style="font-size:1.5em;color:#2467C0">DataFrames </h1>

`tag` and `ratings` are objects of pandas dataframe.

In [ ]:
tags.head()

Get the index and columns of `tags` and `ratings`

In [ ]:
#write your code

In [ ]:
#write your code

In [ ]:
#write your code

In [ ]:
#write your code

Extract row 5, 150, 200 from tags dataframe

In [ ]:
#write your code

Extract the last five records from ratings dataframe

In [ ]:
#write your code

<h1 style="font-size:2em;color:#2467C0">Subsetting</h1>

Filter based on condition. Get all the movies with a rating of 4 and above.

In [ ]:
is_highly_rated = #write your code

ratings[is_highly_rated].head()

The other way to get the above subset:

In [ ]:
filter4_df = #write your code
filter4_df.head()

Are there movies with rating greater than 4?

In [ ]:
filter4_df.rating.any()

Filter the rating value greater than 0. Are all movies having a rating greater than 0

In [ ]:
filter0_df = #write your code
filter0_df.head()

In [ ]:
filter0_df.all()

Get all the movies where the genres contain the word `Adventure`

In [ ]:
is_Adventure = #write your code
movies[is_Adventure][0:10]

<h1 style="font-size:2em;color:#2467C0">Descriptive Statistics</h1>

Get statistical summary of the ratings dataframe

In [ ]:
#write your code

Get the mode, mean and 50 percentile of rating column from the `ratings` dataframe

In [ ]:
#write your code

In [ ]:
#write your code

In [ ]:
#write your code

Get the max values of all the columns from `ratings` dataframe

In [ ]:
#write your code

Get the correlation matrix from the `ratings` dataframe

In [ ]:
#write your code

<h1 style="font-size:2em;color:#2467C0">Data Cleaning: Handling Missing Data</h1>

Does `movies`, `ratings` and `tags` have missing values (any row is NULL)?

In [ ]:
movies.isnull().any()

In [ ]:
ratings.isnull().any()

In [ ]:
tags.isnull().any()

Drop missing values from tags dataframe and check if the rows still has missing values.

In [ ]:
tags = #write your code

In [ ]:
tags.isnull().any()

In [ ]:
tags.shape

<h1 style="font-size:2em;color:#2467C0">Data Visualization</h1>

Perform data visualization using seaborn package.

<h1 style="font-size:1.5em;color:#2467C0">Histogram and Boxplot</h1>

Get the histogram and boxplot for the rating column from ratings dataframe. Use seaborn package for visualization.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sn

In [ ]:
plt.figure(figsize=(10,6))
sn.distplot(#write your code)

In [ ]:
plt.figure(figsize=(10,6))
sn.boxplot(#write your code)

<h1 style="font-size:1.5em;color:#2467C0">Barplot</h1>

Get the count of tag from `tag` dataframe. Plot the first 10 observations using `sn.barplot`

In [ ]:
tag_counts = #write your code
tag_counts.reset_index(inplace=True)
tag_counts.iloc[:10,]

In [ ]:
tag_counts = tag_counts.rename(columns ={'index': 'tag',
                          'tag':'count'})

In [ ]:
tag_counts.iloc[:10,]

In [ ]:
plt.figure(figsize=(10,6))
sn.barplot(#write your code)

<h1 style="font-size:2em;color:#2467C0">Group By and Aggregate </h1>

<h1 style="font-size:1.5em;color:#2467C0">Count by Rating </h1>

Filter `ratings` dataframe to select `movieID` and `rating` column. Count the number of movies by rating and plot using barplot

In [ ]:
ratings_count = #write your code

In [ ]:
ratings_count.reset_index(inplace=True)
ratings_count

In [ ]:
plt.figure(figsize=(10,6))
sn.barplot(#write your code)

<h1 style="font-size:1.5em;color:#2467C0">Count by Movies </h1>

Filter `ratings` dataframe to select `movieID` and `rating` column. Count the number of ratings by movies and plot the first 10 and bottom 10 counts using barplot.

In [ ]:
movie_count = #write your code

In [ ]:
movie_count.rename(columns = {'rating':'count'},inplace = True)
movie_count.reset_index(inplace=True)

In [ ]:
movie_count.tail()

In [ ]:
movie_count.head()

In [ ]:
plt.figure(figsize=(10,6))
sn.barplot(#write your code)

In [ ]:
plt.figure(figsize=(10,6))
sn.barplot(#write your code)

<h1 style="font-size:1.5em;color:#2467C0">Average Rating by Movies </h1>

Filter `ratings` dataframe to select `movieID` and `rating` column. Get the average ratings by movies and plot the first 10 and bottom 10 movies by average rating using barplot.

In [ ]:
average_rating = #write your code
average_rating.reset_index(inplace=True)
average_rating.head()

In [ ]:
plt.figure(figsize=(10,6))
sn.barplot(#write your code)

In [ ]:
plt.figure(figsize=(10,6))
sn.barplot(#write your code)

<h1 style="font-size:2em;color:#2467C0">Merge Dataframes</h1>

Merge `tags` and `movies` on movieId.

In [ ]:
movies.head()

In [ ]:
tags.head()

In [ ]:
merged_df = movies.merge(tags, on='movieId', how='inner')
merged_df.head()

More examples: http://pandas.pydata.org/pandas-docs/stable/merging.html

<p style="font-family: Arial; font-size:1.75em;color:#2462C0; font-style:bold"><br>
Combine operations
</p>

1. Calculate the average rating by movies. 
2. Merge the average rating with movies
3. Filter movies with an average rating of 4.0 and above.
4. Filter comedy movies with an average rating of 4.0 and above.

In [ ]:
average_rating = #write your code
average_rating.drop(['userId'], axis = 1, inplace = True)
average_rating.head()

In [ ]:
box_office = #write your code
box_office.tail()

In [ ]:
box_office[box_office.rating >= 4.0].head()

In [ ]:
is_comedy = #write your code

box_office[(box_office.rating >= 4.0) & (is_comedy)].head()

<h1 style="font-size:2em;color:#2467C0">Vectorized String Operations</h1>

Split genres column of the movies dataframe into multiple columns.

In [ ]:
movies.head()

In [ ]:
movie_genres = movies['genres'].str.split('|', expand=True)

In [ ]:
movie_genres.iloc[:10,]

<p style="font-family: Arial; font-size:1.35em;color:#2462C0; font-style:bold"><br>
Add a new column for comedy genre flag
<br> </p>

In [ ]:
movie_genres['isComedy'] = movies['genres'].str.contains('Comedy')

In [ ]:
movie_genres.iloc[:10,]

<p style="font-family: Arial; font-size:1.35em;color:#2462C0; font-style:bold"><br>
Extract year from title e.g. (1995)<br> </p>

Usage of regular expression

In [ ]:
movies['year'] = movies['title'].str.extract('.*\((.*)\).*', expand=True)

In [ ]:
movies.tail()

More here: http://pandas.pydata.org/pandas-docs/stable/text.html#text-string-methods

<h1 style="font-size:2em;color:#2467C0">Parsing Timestamps</h1>

Working with timeseries data. Read tags.csv

In [ ]:
tags = #write your code

In [ ]:
tags.dtypes

Unix time / POSIX time / epoch time records time in seconds <br> since midnight Coordinated Universal Time (UTC) of January 1, 1970

In [ ]:
tags.head(5)

In [ ]:
tags['parsed_time'] = pd.to_datetime(tags['timestamp'], unit='s')

In [ ]:
tags.head(2)

<p style="font-family: Arial; font-size:1.35em;color:#2462C0; font-style:bold">

Selecting rows based on timestamps
</p>

In [ ]:
greater_than_t = tags['parsed_time'] > '2014-03-01'

selected_rows = tags[greater_than_t]

tags.shape, selected_rows.shape, selected_rows.head()

<p style="font-family: Arial; font-size:1.35em;color:#2462C0; font-style:bold">

Sorting the table using the timestamps
</p>

In [ ]:
tags.sort_values(by='parsed_time', ascending=True)[:10]

<h1 style="font-size:2em;color:#2467C0">Average Movie Ratings over Time </h1>

Are Movie ratings related to the year of launch?

In [ ]:
average_rating = #write your code
average_rating.head()

In [ ]:
joined = movies.merge(average_rating, on='movieId', how='inner')
joined.head()

In [ ]:
yearly_average = #write your code
yearly_average[:20]

Plot the first 30 observations

In [ ]:
plt.figure(figsize=(20,6))
sn.lineplot(#write your code)

Plot the last 20 observations

In [ ]:
plt.figure(figsize=(20,6))
sn.lineplot(#write your code)