<p style="font-family: Arial; font-size:3.75em;color:purple; font-style:bold"><br>
Introduction to Pandas</p><br>

**_pandas_** is a Python library for data analysis. It offers a number of data exploration, cleaning and transformation operations that are critical in working with data in Python. 

**`pandas`** build upon `numpy` and `scipy` providing easy-to-use data structures and data manipulation functions with integrated indexing.

The main data structures *pandas* provides are *Series* and *DataFrames*. After a brief introduction to these two data structures and data ingestion, the key features of *pandas* this notebook covers are:
* Generating descriptive statistics on data
* Data cleaning using built in pandas functions
* Frequent data operations for subsetting, filtering, insertion, deletion and aggregation of data
* Merging multiple datasets using dataframes

**Additional Recommended Resources:**
* `pandas` Documentation: http://pandas.pydata.org/pandas-docs/stable/

## Importing pandas library

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sn

## General settings for Pandas

> * Check the default number of rows and columns which are displayed. 
* Change the default setting.

In [ ]:
pd.get_option('display.max_rows')

In [ ]:
pd.set_option('display.max_rows', None)

In [ ]:
# reset back to normal
#pd.reset_option('display.max_rows')

In [ ]:
pd.get_option('display.max_columns')

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
# reset back to normal
#pd.reset_option('display.max_columns')

In [ ]:
a = 2
a
b = 4
b

In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Case - Titanic Dataset

The data has been taken from : https://www.kaggle.com/c/titanic/data

The data description:


> * PassengerId: type should be integers
* Survived: Survived or Not
* Pclass: Class of Travel
* Name: Name of Passenger
* Sex: Gender
* Age: Age of Passengers
* SibSp: Number of Sibling/Spouse aboard
* Parch: Number of Parent/Child aboard
* Ticket
* Fare
* Cabin
* Embarked: The port in which a passenger has embarked. C - Cherbourg, S - Southampton, Q = Queenstown


Two main data structure:

> * pandas series: one dimensional labeled arrays
* pandas dataframe: two dimensional labeled data structure

We will use the titanic dataset to understand data load and munging using pandas.

## Read the dataset, which is in csv format

Pandas has many read_* functions to read data from multiples data sources or formats like json, jdbc, excel, pickel (python serialized objects) etc.

In [ ]:
import os

In [ ]:
os.getcwd()

In [ ]:
titanic_df = pd.read_csv('./data/titanic.csv')

In [ ]:
pd.read_csv?

In [ ]:
type(titanic_df)

## Print the first few rows
head() also takes an argument n, which specifies how many records will be printed.

In [ ]:
titanic_df.head()

In [ ]:
titanic_df.tail(10)

## Statistical Summary

Use `describe` method

In [ ]:
titanic_df.describe()

In [ ]:
titanic_df.describe()

In [ ]:
titanic_df.describe(include = ['object'])

In [ ]:
titanic_df.shape

## Indexing and Slicing

> Select first n rows across all columns

In [ ]:
titanic_df.iloc[:,:]

In [ ]:
titanic_df.iloc[0:5,0:3]

> Select first 4 rows and first 3 columns

In [ ]:
titanic_df.iloc[:4,:3]

> Select first 2 columns of the last row

In [ ]:
titanic_df.iloc[-1:,:2]

## Check the data type

> * Data type
* dimensions.. how many row and columns?
* Structure of the data

Dimensions of data

In [ ]:
titanic_df.shape

How many total entries? What are the columns and their types. Each column has how many not-null values?

Structure of Data

In [ ]:
titanic_df.info()

In [ ]:
titanic_df.dtypes

### Select Specific columns and rowsÂ¶

> * Select the Survived column and display the first 5 entries
* How many people survived and what is the percentage?

In [ ]:
titanic_df[['Survived']][0:10]

In [ ]:
#titanic_df.Survived.head()
titanic_df[['Survived']].head(10)

In [ ]:
type(titanic_df.Survived[0:5])
#The other way
titanic_df['Survived'][0:5]

In [ ]:
titanic_df.Survived.value_counts()

In [ ]:
titanic_df.Survived.value_counts(normalize = True)

In [ ]:
#The other way
titanic_df['Survived'].value_counts()

In [ ]:
titanic_df.Survived.value_counts(normalize=True)
titanic_df['Survived'].value_counts(normalize=True)

## Selecting multiple columns. 

Multiple column names should be provided as a list

In [ ]:
titanic_df[['Survived','Age']].head()

titanic_df[['Survived','Age']][0:5]
titanic_df[['Survived','Age']].iloc[0:5,]

In [ ]:
titanic_df[['Survived','Age']].iloc[:5,:]

## Cross tabulation of data

> * Pivot gender with survived

In [ ]:
?pd.crosstab

In [ ]:
pd.crosstab(titanic_df.Sex,
            titanic_df.Survived, margins = True)

In [ ]:
pd.crosstab(titanic_df.Sex,
            titanic_df.Survived, normalize = 'columns') #col sum

In [ ]:
pd.crosstab(titanic_df.Sex,
            titanic_df.Survived, normalize = 'index') #row sum

In [ ]:
pd.crosstab(titanic_df.Sex,
            titanic_df.Survived, normalize = 'all')

### Normalize by Rows

In [ ]:
pd.crosstab(titanic_df.Sex,titanic_df.Survived, margins=True, 
            normalize='index')

### Normalize by columns

In [ ]:
pd.crosstab(titanic_df.Sex,titanic_df.Survived, 
            margins=True, normalize='columns')

### Normalize by row and column

In [ ]:
pd.crosstab(titanic_df.Sex,titanic_df.Survived, 
            margins=True,normalize='all')

## Condition based filters


* How many children below 5 years age were on board the ship?
* How many children survived who are less than 5 years old?

In [ ]:
new_df = titanic_df[ (titanic_df.Age <=5) ]

new_df.Survived.value_counts()

In [ ]:
titanic_df [(titanic_df.Age <=5) &
           (titanic_df.Survived ==1)].shape

In [ ]:
titanic_df[(titanic_df.Age <= 5)].shape

In [ ]:
titanic_df[ titanic_df.Age <= 5].Survived.value_counts(normalize = True)

## Filtering records based on string comparison

> Filter records where name is "Allen"

In [ ]:
titanic_df[titanic_df.Name.str.contains( "Allen") ]

## Get unique values for a column

> How many embark points were there? dataframe.unique() lists unique values of the column

In [ ]:
titanic_df.Sex.unique()

## Working with NA Values

> How many NA values in "Embarked" columns

In [ ]:
titanic_df.Embarked.value_counts(dropna=False)

In [ ]:
titanic_df.info()

## Drop NA: Strategy

> Drop NA Values in Embarked column

In [ ]:
titanic_df.Embarked.dropna(inplace=True)

> Remove rows where there are NA values in any of the columns

In [ ]:
titanic_df.dropna?

In [ ]:
clean_titanic_df = titanic_df.dropna()
clean_titanic_df.shape

#titanic_df.dropna(inplace = True)

> Remove rows where there are NA values in all columns

In [ ]:
clean_titanic_df = titanic_df.dropna(how = "all")
clean_titanic_df.shape

In [ ]:
titanic_df.shape

> Remove rows where there are NA values in specific columns

In [ ]:
clean_titanic_df = titanic_df.dropna(axis = 0, subset = ['Age','Pclass'], 
                                     how = 'any' )
len( clean_titanic_df )

> Remove columns where all values are NAs

In [ ]:
clean_titanic_df = titanic_df.dropna( axis = 1, how = "all" )
clean_titanic_df.shape

## Rename a Column

> Rename "Embarked" column to "onboarded"

In [ ]:
titanic_df.head(2)

In [ ]:
?titanic_df.rename

In [ ]:
titanic_df = titanic_df.rename(columns = {"Embarked": "Onboarded",
                            "Sex": "Gender"},
                 inplace=False)

titanic_df.head(2)

## Apply filter criteria and Select columns based

> Select Age, Sex and Pclass of passengers who survived and where less than 5 years old

In [ ]:
titanic_df[ (titanic_df.Age <= 5) & 
              (titanic_df.Survived ==1) ][['Age','Gender','Pclass']].head()

> Only age, sex, survived and pclass of passengers whose age are not known

In [ ]:
titanic_df[ titanic_df.Age.isnull() ][['Age','Gender','Pclass']].shape

> Only age, sex, survived and pclass of passengers whose age are known

In [ ]:
titanic_df[ -titanic_df.Age.isnull() ][['Age','Gender','Pclass']][0:5]

## Groupby and Aggregate

> Find the average age of passengers based on Pclass column

In [ ]:
titanic_df.groupby(['Pclass'])['Age'].mean().reset_index()

In [ ]:
titanic_df.Age.mean()

> Find the average age of passengers based on Pclass and Gender

In [ ]:
pclass_gender_age_df = titanic_df.groupby(['Pclass',
                                       'Gender'])['Age'].mean().reset_index()

pclass_gender_age_df

> How many passengers survived in each of the pclass and for each of the gender

In [ ]:
pclass_gender_sur_df = titanic_df.groupby( ['Pclass', 
                                            "Gender"] )["Survived"].sum().reset_index()

pclass_gender_sur_df

## Merge Dataframe

> Merge pclass_gender_age_df with pclass_gender_sur_df based on pclass and Gender

In [ ]:
pclass_gender_merge_df = pclass_gender_age_df.merge(
                            pclass_gender_sur_df, on = ['Pclass','Gender'])

pclass_gender_merge_df

In [ ]:
pclass_gender_merge_df.to_csv("merged_df.csv")
pclass_gender_merge_df.to_json("merged_df.json")

In [ ]:
pclass_gender_merge_df.sort_values("Survived")

### Exercise: 

Using `pclass_gender_merge_df` do a visualization of Age and Survived w.r.t Pclass and Sex. What kind of charts will be meaningful here?

## Sort Values

> Sort the pclass_gender_merge_df on Survived column

In [ ]:
pclass_gender_merge_df.sort_values("Survived", ascending=False)

## Get the categorical and numeric features

Create a list of categorical and numeric features in a dataset:

In [ ]:
import numpy as np

cat_feat_list = [x for x in titanic_df.select_dtypes(include = np.object)]
cat_feat_list

num_feat_list = [x for x in titanic_df.select_dtypes(include = np.number)]
num_feat_list

## User defined functions

Using the pandas methods to create user defined functions

> Define a function to find NA values and unique labels in any column

In [ ]:
def find_na(name):
    return titanic_df[name].value_counts(dropna=False)

In [ ]:
def find_unique(name):
    return titanic_df[name].unique()

In [ ]:
find_na('Onboarded')
find_unique('Onboarded')

Define a function to perform cross tabulation

In [ ]:
def cross_tab(x,y):
    return pd.crosstab(titanic_df[x],titanic_df[y])

In [ ]:
df = (cross_tab('Gender','Pclass'))
df

Simple bar chart using pandas plot method:

In [ ]:
df.plot.bar()

Visualizing cross tabulated data using Seaborn

In [ ]:
import seaborn as sn
stacked_df = df.stack().reset_index().rename(columns={0:'percentage'})
stacked_df

In [ ]:
sn.barplot(x='Pclass', y='percentage', hue='Gender', data = stacked_df)

## Exercise: 

1. Use the user defined function `find_na` and `find_unique` to get the value count and unique labels of all the categorical features in the titanic dataframe

In [ ]:
import numpy as np

cat_feat_list = [x for x in titanic_df.select_dtypes(include = np.object)]
cat_feat_list

In [ ]:
cat_feat_list.append("Survived")
cat_feat_list.remove('Name')
cat_feat_list.remove('Ticket')
cat_feat_list.remove('Cabin')
cat_feat_list

In [ ]:
for c in cat_feat_list:
    find_na(c)
    find_unique(c)

Other way:

In [ ]:
print(list(map(find_na, cat_feat_list)))
print(list(map(find_unique, cat_feat_list)))

### Exercise:

2. Use the user defined function `cross_tab` to cross tabulate every pair of categorical features.

#### First Method

Cross tabulation of every pair of categorical feature.

In [ ]:
for x in range(0,len(cat_feat_list)):
    for y in range(x+1,len(cat_feat_list)):
        #if x!=y:
            cross_tab(cat_feat_list[x],cat_feat_list[y])

#### Second Method

In [ ]:
import itertools
for p in itertools.combinations(cat_feat_list, 2):
    cross_tab(*p)

### Exercise: DIY
3. Change the cross_tab function to report the nomalized values by rows and columns. Perform visulization for each pair of categorical variable. What kind of charts will be meaningful here?

## Lambda function with map

Create a Column named Gender and map Sex Column

In [ ]:
titanic_df['gender_code'] = titanic_df.Gender.map(lambda x: int(x =='male'))
titanic_df.iloc[0:4,]

## Thank You